ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    display: inline;
    font-family:Futura;
    color: black;
  font-size: 20px;
}

 body {
    height: 100%;
    background-size:100%;
   background-image: url("https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80");
}

h1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: Futura;
  color: black;
  text-align: center;
  font-size: 50px;
    
}

p {
  color: black;
  text-align: center;
  font-family: monospace;
  font-size: 20px
  
}

li {
    float: center;
    display: inline;
}

a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline;
}

h2 {
  color: black;
  text-align: center;
  font-family: Futura;
  font-size: 30px;
}

h3 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: Futura;
  color: black;
  text-align: center;
  font-size: 18px;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h4 {
  color: black;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}