/*img.logo {*/
/*  position: absolute;*/
/*  border: 50px transparent;*/
/*}*/

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}


h1 {
  font-size: 100px
}



/* Add a black background color to the top navigation */
          .topnav {
              background-color: #333;
              overflow: hidden;
              font-family: 'Pontano Sans', sans-serif;
            
          }
          
          /* Style the links inside the navigation bar */
          .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
          }
          
          /* Change the color of links on hover */
          .topnav a:hover {
              background-color: #ddd;
              color: black;
          }
          
          /* Add a color to the active/current link */
          .topnav a.active {
              background-color:#6D619A; 
              color: white;
          }


body, html {
    height: 50%;
    font-family: 'Pontano Sans', sans-serif;
 
}

h2 {
  text-align: center 
}

h3 {
  text-align: center 
}

h4 {
  text-align: center;
}


.please {
  text-align: center
}


.about {
  margin-top: 0;
  height: 150%;
  width: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
  text-align: center;
  font-size: 50px;
  font-family: 'Sacramento', cursive;
  color:#6D619A;
}

p {
 text-align: center; 
 font-size: 25px;
 
}
/*about us */


.result {
  color:#6D619A;
  font-size: 50px;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 45%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #6D619A;;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 7px;
	height: 7px;
	border-radius: 100px;
	background: white;
}

.button {
    background-color: #6D619A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.result {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.about {
  box-shadow: 10px 10px #6D619A;
  height:auto;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  padding: 10px;
}

h7 {
  font-family: 'Sacramento', cursive;
  font-size: 55px;
  color:#6D619A;
}

h8 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
    color:#6D619A;
}

