ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    display: inline;
    font-family:Futura;
    color: black;
}

 body, html {
    height: 100%;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  color: black;
  text-align: center;
  font-family: Futura;
  font-size: 50px
    
}

p {
  color: black;
  text-align: center;
  font-family: monospace;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    text-align: center;
}
