<!DOCTYPE html>
<html> 
<head>
 <title> Me Time </title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="style.css">
 <h1> Me Time</h1>
 <br>
 
<body> 
<h10><a href="/">Home Page</a></h10>
<br>
<br>
Staring at the sky (day/night): Doing nothing with a clear mind opens your perception of reality and calms your soul. <br>
<br>
Bubble Baths: Relax tension in your muscles and the mind, plus hydrating your skin. Add candle lights to set the mood and play soothing music. <br>
<br>
Candles : Candles help set the mood to any relaxation remedies and the ones with a nice scent will add an extra bonus.
<br>
<br>
Napping:  In a comfortable spot, feeling cozy, your body starts to relax on its own as you feel more comfortable with your surroundings, and afterwards you feel refreshed...rested...alert. <br>
<br>
Writing: Writing out your feelings or stress helps relieve the stress that you have because it out in the world. <br>
<br>
Drawing: The rhythmic and repetitive motion of drawing helps synchronize hand and eye, body and mind, and can be used to elicit what Harvard cardiologist, Herbert Benson, has identified as the relaxation response. <br>
<br>
Breathing: Even though we do it all the time, we forget to do it properly, and deep breathing exercises is the best way to lower stress.
<br>
<br>
On the go: Countdown from 10; inhale deeply and then exhale, and if you are able to to, close your eyes and count slowly. When you reach zero, your body should be completely relaxed.
</body>
</html>

