<!DOCTYPE html>
<html> 
<head>
  <title>Physical Health</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://data.whicdn.com/images/310881265/large.png');
    min-height: 100%;
}

/* Second image (me time) */
.bgimg-2 {
    background-image: url("https://data.whicdn.com/images/312407554/original.jpg?t=1526440887");
    min-height: 500px;
    width: auto;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button"> HOME</a>
    <a href="/#aboutus" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-cloud"></i> ABOUT US</a>
    <a href="/#metime" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-cloud"></i> ME TIME</a>
    <a href="/physicalhealth" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-cloud"></i> PHYSICAL HEALTH</a>
    <a href="/peaceofmind" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-cloud"></i> RESOURCES</a>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#peaceofmind" class="w3-bar-item w3-button" onclick="toggleFunction()"> RESOURCES</a>
    <a href="#metime" class="w3-bar-item w3-button" onclick="toggleFunction()"> ME TIME</a>
    <a href="#physicalhealth" class="w3-bar-item w3-button" onclick="toggleFunction()"> PHYSICALHEALTH</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> Physical <span class="w3-hide-small"> Health </span></span>
  </div>
</div>

<!-- Container (Fitness) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">FITNESS</font></h3>
  <p class="w3-center"><em>  Fitness is a great way to relieve stress and calm the body and mind.  There are different variations of fitness routines that help with stress and anxiety.  </em></p>
  <p><br>
       <font size="+1">Yoga is a popular mind-body practice that brings together physical and mental disciplines to help you relax while increasing physical strength and flexibility. It combines poses with controlled breathing and mindfulness. According to Mayo Clinic, yoga can help reduce stress, lower blood pressure, and lower heart rate.</font>

        <br>
        <br>
        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/LI9upn4t9n8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center><br>

        <br>

      <font size="+1"> Tai Chi is an ancient Chinese non-competitive martial art. It’s popular due to its health benefits and known to be one of the most effective exercises for both mind and body. Like yoga, there are many different styles and forms of Tai Chi. This exercise links flowing physical movements with breathing. According to Tai Chi for Health Institute, studies have shown that Tai Chi improves muscular strength, flexibility, immunity, and can help relieve pain – all while achieving a sense of peace and serenity. Check out this quick introductory to Tai Chi for stress reduction.</font>
    <br>
    <br>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/oCnCSOWgIUU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center> <br>

    <br>
       <font size="+1">Kickboxing burns calories like crazy and helps maintain a high metabolism. Kickboxing is a blend of martial arts and boxing, and can be practiced for general fitness, self-defense, or sport. It reduces stress by teaching proper breathing techniques, building confidence, and giving you an instant energy boost. Smack down your stress with this kickboxing cardio workout.</font>

       <br>
      <br>
       <center><iframe width="560" height="315"src="https://www.youtube.com/embed/F_6ps9cyFzo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center> <br>

       <br> </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p></p>
    </div>

      </p>
    </div>
  </div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide"></span>
  </div>
</div>

<!-- Container (Self Care) -->
<div class="w3-content w3-container w3-padding-64" id="metime">
  <h3 class="w3-center"><font size="+3">SELF CARE</font></h3>
  <p class="w3-center" ><em><br> Being comfortable in your own skin is such a big aspect in loving yourself. Your bare face is who you portray to the world, hence taking care of your skin is imperative for your self-image. Here are a few tips regarding skin care: </em></p>
  
  <p>
   <font size="+2"><center>Steps to have perfectly clear skin:</center></font>
    <br>
   <font size="+1"><b> 1. Oil Cleanser</b></font>
    <br>
    <font size="+1"><u>Purpose</u>: Applied to dry skin, an oil cleanser removes makeup and any other oil-based product debris like sunscreen and pollution particles.</font>
    <br>
    <br>
   <font size="+1"><b> 2. Foam Cleanser</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> “Believe it or not, after one cleanse, you’re still going to have stuff left over,” says Cho, the board-certified esthetician behind Soko Glam and author of The Little Book of Skin Care. This water-based cleanser is applied to wet skin and removes impurities like sweat and dirt. After double cleansing (first with oil then with foam), not a hint of grime will be left to hinder your skin’s health.</font>
    <br>
    <br>
    <font size="+1"><b>  3. Exfoliator</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> Exfoliation not only cleans out clogged pores, but it also sloughs off dead skin cells. When you remove this dull layer of cells, brighter skin is revealed. This step is not recommended for daily use. If you have sensitive skin, you’ll only want to exfoliate once a week. If you have a tougher complexion, you can do it more regularly (about three times a week).</font>
    <br>
    <br>
    <font size="+1"><b>  4. Toner</b></font> 
    <br>
    <font size="+1"><u>Purpose:</u> “After you cleanse so many times, your skin is in a fragile state,” explains Cho. “So you want to really hydrate it.” She also explains that toner acts as a way to prep the skin, so it’ll absorb the following treatments better.</font>
    <br>
    <br>
    <font size="+1"><b>  5. Essence</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> The essence is really the heart of Korean skin care, a step that is credited to their culture. Cho claims it’s of the most important parts of the routine. “It’s a treatment product similar to serums, boosters, or ampoules; but it’s more watery in consistency then the rest of those products, so it comes out like a toner.”</font>
    <br>
    <br>
    <font size="+1"><b> 6. Serum, Boosters, or Ampoule Treatments</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> Cho explains that this is not a necessary step for everyone. “If you don’t have brown spots or pigmentation, you don’t really need to use [a treatment],” she says.</font>
    <br>
    <br>
    <font size="+1"><b>  7. Face mask</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> The purpose of your mask depends on what your skin needs. Cho recommends a hydrating mask like Skinfood Hydro Fitting Snail Mask Sheet. But you can also choose one for brightening that may be packed with vitamin C. This is not an every-night step, you really only need to do it twice a week. In fact, Cho explains that you can swap a sheet mask for a serum or essence to cut time off your routine. “The mask contains those treatment products already,” she explains.</font>
    <br>
    <br>
    <font size="+1"><b>  8. Eye Cream</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> Depending on the eye cream you choose, this could focus on everything from fine lines to dark circles. Basically, if you have any undereye concerns, there’s a cream for it.</font>
    <br>
    <br>
    <font size="+1"> <b> 9. Face cream</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> Depending on the eye cream you choose, this could focus on everything from fine lines to dark circles. Basically, if you have any undereye concerns, there’s a cream for it.</font>
    <br>
    <br>
    <font size="+1"> <b> 10. SPF</b></font>
    <br>
    <font size="+1"><u>Purpose:</u> “We’re pretty obsessed about SPF,” says Cho. It seems self-explanatory, but we can never stress enough how important sun protection is on a daily basis. Cho claims that it’s applying SPF regularly that’s the biggest differentiator in the Korean regimen.</font>
    </p><br>

     <center><iframe width="560" height="315" src="https://www.youtube.com/embed/PTbrcjeeBKs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center><br>
     
     

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<br>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 
</script>

</body>
</div>
</html>