<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>

 <ul> <!--navigation bar-->
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">Quiz</a></li>
  <li><a href="contact.asp">FAQ</a></li>
  <li><a href="about.asp">About Us</a></li>
</ul>

<body background ="https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80">
<!--welcome/title-->
    <h1>About Us</h1>
    <p> Learn more about the Bon Voyage! creators </p>
  
  
  
</body>
</html>