<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
    <style>

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit, #333;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ACCB80, #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ACCB80;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: wire one, sans-serif;
}

.navbar a {
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 body { 
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0; } 
h3 {
    font-family: wire one, sans-serif;
    font-size: 40px;
    color: #333;
}
p {
    font-family: sans-serif, Times;
    font-size: 1.1em;
    line-height: 1.5em;
    color: black, #ACCB80; 
    margin: 30px 0;
}
.image {
    background: url(http://i65.tinypic.com/2e0vc4m.jpg) no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
}
   <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
    <style>

.show {
    display: block;
}

.label{
    overflow: hidden;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

h1 {
    font-family: wire one, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 20px;
}

footer {
    background-color: #333;
    padding: 1px;
    width: 100%;
    text-align: center;
    color: white;
}

</style>
  </head>
  
  <body>
    <div class = "label"><img src="http://i63.tinypic.com/255tgk2.png" border="0" height=25% width=100% alt="Image and video hosting by TinyPic"></div>
    <div class="navbar">
  <a href="/">Home</a>
  <a href="/fitness">Fitness</a>
  <a href="/food">Food</a>
  <a href="/mental">Mindfullness</a>
  <a href="aboutus">About the Creators</a>
    </div>
    <div class="image"></div> <br>
 
   <section class="content">
    <h3>The faces behind Simply Modern Living</h3>
    <p><b>Siri Dandu</b> is a 14 year old who learned how to code at Kode with Klossy Philadelphia. Living a healthy lifestyle is one of her biggest aspirations. She hopes this website will help others reach this goal as well.
      <br> <b>Madison Parker</b> is a 16 year old who helped to create this website at Kode with Klossy Philadelphia. As a young women, she tries to create healthy habits that will help her to live a healthy, youthful lifestyle. This website provides inspiration to motivate and encourage her to a heathier life. 
      <br><b>Lauren Workosky</b> is 17 and has loved her time making this website at Kode with Klossy. As a dancer, living a healthy lifestyle was always very important to her. She also used this website to motivate herself to leading a healthier life.</p><br><br></section>
    <footer>
    <p>© 2018 Kode With Klossy</p>
  <footemail><center><table><tr>
    <td width="40%">19lworkosky@student.dasd.org</td>
    <td width="40%">madison@parkerworld.com</td>
    <td>sdandu99@gmail.com</td>
  </tr><tr><td width="40%">@workosky</td><td width="40%">@madisonparke.r</td><td>@siri_dandu</td></tr></table></center></footemail>
</footer>
  </body>
</html>