<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>

 <ul> <!--navigation bar-->
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">Quiz</a></li>
  <li><a href="contact.asp">FAQ</a></li>
  <li><a href="about.asp">About Us</a></li>
</ul>

<body background ="https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80">
<!--welcome/title-->
    <h1>About Us</h1>
    <p> Learn more about the Bon Voyage! creators. </p>
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  
<body>

<div class="background">
  <div class="transbox">
    <h2>Ella Jaravata</h2>
    <h4>Ella is a student, Kode With Klossy scholar, and gurl boss :) She prefers front-end programming, and had a blast designing Bon Voyage with Alicia! Ella loves to travel with her family, and hopes that Bon Voyage! inspires others to break out of their comfort zone, and see what lies beyond their hometown. </h4>
    <ul><p>Future destination: New Zealand</ul></p>
  </div>
</div>
  
  <style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  
<body>

<div class="background">
  <div class="transbox">
    <h2>Alicia Garlic</h2>
    <h4> Alicia is a Kode With Klossy Scholar, student, and awesome cool girl! She loves to travel, and wants to see where this will take her!</h4>
     <ul><p>Future destination: Everywhere</ul></p>
  </div>
</div>
  
</body>
</html>