<html>
  <head>
    <link rel="stylesheet" href="stylesheets/about_us.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Kirang+Haerang|Open+Sans+Condensed:300|Poppins" rel="stylesheet">
    <title>Homepage</title>
  </head>

<body>
 <ul> <!--navigation bar-->
  <li><a href="/">Home</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="FAQ">FAQ</a></li>
  <li><a href="about_us">About Us</a></li>
</ul>

<!--welcome/title-->
    <h1>About Us</h1>
    <p> Learn more about the Bon Voyage! creators. </p>
  
<style>
/*div.background {*/
/*    background: url(klematis.jpg) repeat;*/

/*}*/

div.transbox {
    margin: 100px;
    background-color: white;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: white;
}
  
</style>

<div class="background">
  <div class="transbox">
    <h2>Ella Jaravata</h2>
    <h4>Ella is a student, 2018 Kode With Klossy scholar, and gurl boss :) She prefers front-end programming, and had a blast designing Bon Voyage! with Alicia! Ella loves to travel with her family, and hopes that Bon Voyage! inspires others to break out of their comfort zone, and see what lies beyond their hometown. </h4>
  <h3>Future destination: New Zealand</h3>
  <img src="https://images.unsplash.com/photo-1517446915321-65e972f1b494?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61e5b1f01f2e4f12672a29816163f379&auto=format&fit=crop&w=1050&q=80"height="400" width="200">
  </div>
</div>
  
  <style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
  

<div class="background">
  <div class="transbox">
    <h2>Alicia Garlic</h2>
    <h4> Alicia is a 2018 Kode With Klossy Scholar, student, and all around curious person. She favors back-end programming, and enjoyed creating Bon Voyage! with Ella :) </h4>
     <h3>Future destination: Everywhere!</h3>
      <img src=" https://images.unsplash.com/photo-1492329856248-4d21e5165e6e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=252ec9d9faa1a8caa3bac80546f1bba3&auto=format&fit=crop&w=1050&q=80" height="400" width="200">
  </div>
</div>

</body>
</html>