<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>about_us</title>
  </head>
  <body>
     <a href= /index> Home</a>
    &nbsp;
    <a href= /aboutus>  About Us</a>
  <h1> More About Us!</h1>
  
  
  <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113994385751/small/1533146798/enhance">
  <h5>Hi! I'm Anum </h5>
    <p> I love technology, art, and puzzles.  My favorite coding language is Ruby, and I attended the KWK 2018 Philadelphia class.</p>


    <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113994295360/medium/1533143151/enhance">

<h5>Hi! I'm Ellie</h5>

    <p> I love robotics, robotics, and robotics. Did I mention robotics? I like back end coding and attended the KWK 2018 Philadelphia class.</p>
  
  </body>
</html>