<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Us</title>
	  <style>
		  body {
    background-image: url(https://stmed.net/sites/default/files/captain-marvel-wallpapers-27536-1025377.png);
  background-size: 1450px;
}

h {
  font-family: 'Bree Serif';
   font-size: 20pt;
  text-decoration: underline;
  color: white;
}

p { 
font-family: 'Bree Serif';
 font-size: 16pt;
 color: white;
}
	  </style>
  </head>
  <body>
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <h> About Us</h>
    <br>
<br>
<br>
<br> 
    
   <p>This website was created by Jill Rayca, Anna George, and Bridget Kienzle. </p>
   <br>   
<p>Created in 2018.</p>
    
  
  </body>
</html>