<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SHEinspires</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Pontano+Sans|Sacramento" rel="stylesheet">
  </head>
  <body>
    
     <img class="logo" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997131800/medium/1533217041907/enhance" alt="LOGO" width="300" >
    
    <div class="topnav">
  <a class="active" href="/index">Home</a>
  <a href="/aboutus">About Us</a>
  <a href="/instagrams">Instagram Inspiration</a>
          </div>
  
  <br>
  <br>
  
  
  <img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance">
  <h5>Hi! I'm Anum </h5>
    <p> My name is Anum.  I’m 14 years old and I love potatoes.  Fries, chips, mashed; I love them all.  I also love calligraphy and do digital art.  At my school, I am part of Science Olympiad, Model UN, and MIST.  I love to read and my favorite books are the Percy Jackson series.  I also enjoy solving Rubik’s Cubes and other puzzles.  I love coding and my favorite language is Ruby.  I attended the Philadelphia Kode With Klossy Camp in 2018 and I absolutely loved it!</p>
<br>
<br>
    <img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997265050/medium/1533224153193/enhance">

<h5>Hi! I'm Ellie</h5>

    <p> I'm 16 years old and I'm a 2018 Kode with Klossy Scholar in Philadelphia. This project was designed to make your day a little brighter, and I honestly couldn't be prouder of the outcome. Now, I'll tell you a little about me. I live right outside Philadelphia in a town called Conshohocken. If you ask anyone here at KWK, they’ll know that I do one thing and I talk about it way too much: robotics. I am on the longest continuously running all-girls team in FIRST. I get to work on our building side as a pit girl and on our business side doing waaaaay too many things. But one thing I haven’t been able to do is code. So KWK has allowed me to learn how to code and expand my knowledge on this amazing field. So you know a little bit about me, so now I hope you enjoy our website, because I know I enjoyed making it!</p>
  
  <br>
    <br>
      <br>
        <br>
          <br>
  
  </body>
</html>