<!DOCTYPE html>
<html> 
<head> 
  <title>Race Stereotype</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://res.cloudinary.com/teepublic/image/private/s--cVO-EbzO--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_000000,e_outline:48/co_000000,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1483472971/production/designs/1024583_1.jpg');
    min-height: 100%;
   background-position: -100px; -1000px; 
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="/#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">RACE STEREOTYPE <i class="fa fa-street-view"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/east_asian" class="w3-bar-item w3-button">East Asian</a>
        <a href="/south_asian" class="w3-bar-item w3-button">South Asian</a>
        <a href="/african" class="w3-bar-item w3-button">African</a>
      </div>
    </div>
    <a href="/fitin" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-send-o"></i> FITTING IN</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
    <a href="/quiz" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-star-half-o"></i> QUIZ</a>
    <a href="/how_do_you_feel" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-paper-plane-o"></i> YOUR FEELINGS?</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">AFRICA <span class="w3-hide-small"></span></span>
  </div>
</div>

  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p></p>
    </div>
    
    <!-- Container (African) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">African</font></h3>
  <p class="w3-center">Africans are bone thin as they are always starving or underfed under the Saharan heat.  The "country" is devoid of all modern technology.  People live in huts amongst the animals.</p>
  <p><br>
  <h2> Myth </h2>
<b> Myth: </b> Africa is a country. <br>
<br> <b>TRUTH: </b> Africa is a continent with 55 internationally recognized countries and thousands of unique cultures and languages. 

<br><br><br>
 <b> Myth: </b> All African children are starving. <br>
<br> <b>TRUTH:</b> Unfortunately, there are children in Africa that are food deprived and there are <a href = "https://www.savethechildren.org/us/what-we-do/emergency-response/hunger-and-famine-crisis?cid=Paid_Search:Bing_Paid:Emer_HungerRelief:Nonbrand:032918&msclkid=56cfc3b01ae61a91ea4b983b50a6e874"> ways to</a> <a href= "https://www.children.org/make-a-difference/sponsor-a-child?country=zambia&search=true#child-results"> help them</a>, but not every child is starving!
<br>
 "'Starving kids in Africa' perpetuates the idea that all Africans are the same – malnourished, starving, hungry, emaciated." <br> - from <a href = "https://www.theodysseyonline.com/starving-kids-africa-excuse-bullshit"> "Why The Starving Kids in Africa Excuse is Bull****"</a>

<br><br><br>
<b> Myth: Africa is lacking in techonology and innovation. </b> 

<br><br> 
<b>TRUTH:</b> Although many African countries lack the resources their Western and Asian counterparts have,technology is rapidly growing in the continent, rivaling that of the United States. <br>
"The young age demographic, coupled with the urbanization of Africa, is a recipe for further innovation and more positive change."
- from <a href = "https://www.aperianglobal.com/debunking-common-myths-stereotypes-africa/"> "Debunking Common Myths and Stereotypes About Africa"</a>

<br>
<hr>
<br> 

       <font size="+1"> </font>
</div>


      </p>
    </div>
  </div>

<!-- Container (Yoruba Translation) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">Yoruba Translation</font></h3>
  <p class="w3-center">Awọn ọmọ Afirika jẹ egungun egungun bi wọn ti npa abibi nigbagbogbo tabi labẹ labẹ afẹfẹ Saharan. Awọn "orilẹ-ede" ko jẹ ti gbogbo imọ-ẹrọ oni-ọjọ. Awọn eniyan n gbe inu awọn ẹranko laarin awọn ẹranko.</p>
  <p><br>
  <h2> Adaparọ </h2>
<b> Adaparọ: </b> Afirika jẹ orilẹ-ede kan. <br>
<br> <b>TRUTH: </b> Afirika jẹ continent kan pẹlu 55 awọn orilẹ-ede ti a mọ ni agbaye ati awọn ẹgbẹgbẹrun awọn aṣa ati ede abayọ. 

<br><br><br>
 <b>Adaparọ: </b> Gbogbo awọn ọmọ Afirika npa. <br>
<br> <b>TRUTH:</b> Laanu, awọn ọmọde ni ile Afirika ti o jẹ alaipajẹ ati pe o wa <a href = "https://www.savethechildren.org/us/what-we-do/emergency-response/hunger-and-famine-crisis?cid=Paid_Search:Bing_Paid:Emer_HungerRelief:Nonbrand:032918&msclkid=56cfc3b01ae61a91ea4b983b50a6e874"> awọn ọna lati</a> <a href= "https://www.children.org/make-a-difference/sponsor-a-child?country=zambia&search=true#child-results"> ran wọn lọwọ</a>, ṣugbọn kii ṣe gbogbo ọmọde npa!
<br>
 "'Awọn ọmọde Starving ni Afirika' maa n mu idaniloju pe gbogbo awọn Afirika bakannaa - alaini-ara, ti ebi npa, ti ebi npa, ti a sọ." <br> - lati <a href = "https://www.theodysseyonline.com/starving-kids-africa-excuse-bullshit"> "Kí nìdí Awọn ọmọ wẹwẹ ọmọde ni Afirika Afaṣe jẹ Bull ****"</a>

<br><br><br>
<b> Adaparọ: Afiriika ko ni imọ-ẹrọ ati ilọsiwaju. </b> 

<br><br> 
<b>TRUTH:</b> Biotilẹjẹpe ọpọlọpọ awọn orilẹ-ede Afirika ko ni awọn ohun-elo ti awọn ẹgbẹ Oorun ati Asia jẹ, imọ-ẹrọ nyara ni kiakia ni ile-iṣẹ, ti njaduro ti United States. <br>
"Awọn eniyan ti ọjọ ori ọmọde, pẹlu ilu ilu ilu Afirika, jẹ ohunelo fun ilọsiwaju siwaju sii ati iyipada ti o dara julọ."
- lati <a href = "https://www.aperianglobal.com/debunking-common-myths-stereotypes-africa/"> "Ṣiṣe Awọn Iroyin ti o wọpọ ati awọn ibaraẹnisọrọ nipa Afirika"</a>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<br>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 
</script>

</body>
</div>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 10086868;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/10086868/">Chat with us</a>,
powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener" target="_blank">LiveChat</a>
</noscript>
<!-- End of LiveChat code -->
</html>