ooo<!DOCTYPE html>
<html>
 <head>
  <title>My Cloud 9</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  Take this quiz to find out if you're valid!
  
</body>
​
<form method="POST" action="/areyouvalidresults">
 <p>Your name (example: Karen): <input type="text" name="name"></p>
 <p>Your sexuality (example: bisexual): <input type="text" name="sexuality"></p>
 <p>Your race (example: African American): <input type="text" name="race"></p>
 <p>Your gender (example: female): <input type="text" name="gender"></p>
 <p>Your favorite personal trait (example: generous): <input type="text" name="trait"></p>
 <input type="submit">
</form>
</html>