<html>
  <head>
    <link rel="stylesheet" href="stylesheets/FAQ.css">
    <title>Homepage</title>
  </head>

<body>
 <ul> <!--navigation bar-->
  <li><a href="/">Home</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="FAQ">FAQ</a></li>
  <li><a href="about_us">About Us</a></li>
</ul>

<!--welcome/title-->
    <h1>FAQ</h1>
    <p> Frequently Asked Questions </p>
    
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  

<div class="background">
  <div class="transbox">
    
    <h2>Is it possible to travel on a limited budget?</h2>
    <h3> Of course! You don't have to have a ton of money to travel-Finding free flights and hotel rooms through collecting points on their credit cards, hitchhiking, staying with locals, and knowing where to look is just the start of travelling cheap. </h3>

    <a href="https://www.iwillteachyoutoberich.com/blog/how-to-travel-cheap/"><button>Cheap travel tips!</button></a>
    
    <h2>How can I spend less while on vacation?</h2>
    <h3> Look for destinations with local currencies weaker than the US Dollar. In addition, searching for places with free breakfast helps, packing light, and cooking food from the supermarket can help you save $$$.</h3>
    
    <a href="https://www.self.com/story/how-to-save-money-while-traveling"><button>Saving money tips!</button></a>
    
    <h2>What can I do to be safer while travelling?</h2>
    <h3>Refrain from using wifi in public, locking up important items in a safe, stopping mail delivery at home (to prevent stolen mail), and refraining from talking to strangers (who could be thieves) are all great ways to stay protected while out and about in a foreign place.</h3>
    
    <h2>How to stay healthy while travelling?</h2>
    <h3> 1. Drink water <br>
    2. Continue regular exercise regime<br>
    3. Reduce diet damage<br></h3>
    
    <h2>Is there a way to interact with locals if I don't know their language?</h2>
    <h3> A gesture as simple as smiling or charades goes a long way. Communicating through hand and facial gestures are your best chance! Be open-minded and willing to learn the local language :)</h3>
    
    <a href="https://docs.google.com/forms/d/1SXiJp6EuFceHUxXjo9PjfmtSHmnys9ddaV6Kl4m4my8/edit"><button>Have More Question? Ask Away!</button></a>
    
  </div>
</div>
  
</body>
</html>