<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>

 <ul> <!--navigation bar-->
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">Quiz</a></li>
  <li><a href="contact.asp">FAQ</a></li>
  <li><a href="about.asp">About Us</a></li>
</ul>

<body background ="https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80">
<!--welcome/title-->
    <h1>FAQ</h1>
    <p> Frequently Asked Questions </p>
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  
<body>

<div class="background">
  <div class="transbox">
    <h2>How can I travel if I'm poor? </h2>
    <h4></h4>
    <a href = "https://docs.google.com/forms/d/1SXiJp6EuFceHUxXjo9PjfmtSHmnys9ddaV6Kl4m4my8/edit"> Ask more questions here!</a>
  </div>
</div>
  
</body>
</html>