<!DOCTYPE html>
<html>
    
    <head>
        <title>Food Inspiration</title>
    </head>
    
    <body>
      <logo>
      <a href="http://tinypic.com?ref=255tgk2" target="_blank"><img src="http://i63.tinypic.com/255tgk2.png" border="0" width= 100%></a>
      </logo>
      <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
<style>

logo {
  width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: wire one, serif;
}

.navbar a {
    float: left;
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 26px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: wire one, serif;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ACCB80;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

h1 {
    text-align: left;
    font-size: 56px;
    font-family: wire one, Sans-Serif;
    color: #ACCB80;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body { 
    background-color: white;
    font-weight: normal;
    font-style: normal;
  margin: 0;
  padding: 0;
  border: 0; }
h3 {
    font-family: wire one, serif;
    font-size: 2em;
    color: #ACCB80;
    font-size: 48px;
}
p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #666; 
    margin: 30px 0;
}
.image {
    background: url('http://i64.tinypic.com/14c5rmw.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
}



text1 {
  font-family: Times;
  font-size: 20px;
}

a {
    color: #ACCB80;
}


footer {
   background-color: #333;
   padding: 1px;
   width: 100%;
   text-align: center;
   color: white;
}

</style>

</head>
<body>

<div class="navbar">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Diet Plan
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/food">General Information</a>
      <a href="/foodwl">Weight Loss Plan</a>
      <a href="/foodwg">Weight Gain Plan</a>
    </div>
  </div> 
  <a href="/water">Water</a>
  <a href="/foodinspo">Inspiration</a>
</div>
</body>

<img src="http://i64.tinypic.com/2rmkzsx.png" border="0" alt="Image and video hosting by TinyPic" class="center">

<div class="image"></div>
   <section class="content">
  
</section>
<body>
  <br><br>
  <center><table>
    <tr><td><iframe width="560" height="315" src="https://www.youtube.com/embed/PZoKXWgJH_0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td><td><iframe width="560" height="315" src="https://www.youtube.com/embed/sTJTllzcZFM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td></tr><tr><td><iframe width="560" height="315" src="https://www.youtube.com/embed/ajtaXzGiwHY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td><td><iframe width="560" height="315" src="https://www.youtube.com/embed/wZkZxM1I98A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td></tr>
  </table><br><br>
  <table>
    <tr><td><blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/BQb4wtUDJQ6/?utm_source=ig_embed" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BQb4wtUDJQ6/?utm_source=ig_embed" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Diet Tips (@diettips101)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-02-13T02:54:02+00:00">Feb 12, 2017 at 6:54pm PST</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script></td><td><blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bl5q_joDBUv/?utm_source=ig_embed" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bl5q_joDBUv/?utm_source=ig_embed" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Healthy Food Videos 🎥🍊🍒 (@healthyfoodvideos)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-07-31T15:30:55+00:00">Jul 31, 2018 at 8:30am PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script></td><td><blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bl_lktjH9f8/?utm_source=ig_embed" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bl_lktjH9f8/?utm_source=ig_embed" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Meal Plan (@healthyfoodadvice)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-08-02T22:38:18+00:00">Aug 2, 2018 at 3:38pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script></td></tr>
  </table>
  <br><br><br>
  </center> 

<footer>
    <p>© 2018 Kode With Klossy</p>
  <footemail><center><table><tr>
    <td width="40%">19lworkosky@student.dasd.org</td>
    <td width="40%">madison@parkerworld.com</td>
    <td>sdandu99@gmail.com</td>
  </tr><tr><td width="40%">@workosky</td><td width="40%">@madisonparke.r</td><td>@siri_dandu</td></tr></table></center></footemail>
</footer>

</body>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

function MyFunction() {
    document.getElementById("MyDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var MyDropdown = document.getElementById("MyDropdown");
      if (MyDropdown.classList.contains('show')) {
        MyDropdown.classList.remove('show');
      }
  }
}
</script>