<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>

 <ul> <!--navigation bar-->
  <li><a href="http://67.205.130.239:45615/">Home</a></li>
  <li><a href="http://67.205.130.239:45615/quiz">Quiz</a></li>
  <li><a href="http://67.205.130.239:45615/FAQ">FAQ</a></li>
  <li><a href="http://67.205.130.239:45615/aboutus">About Us</a></li>
</ul>

<body background ="https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80">
<!--welcome/title-->
    <h1>Bon Voyage!</h1>
    <p> Welcome to our page:) </p>
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  
<body>

<div class="background">
  <div class="transbox">
    <h2>Here are some travel statistics: </h2>
    <h4>Statistics</h4>
  </div>
</div>
  
</body>
</html>