<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>Super Selector</title>
	  <style>
.boxed1 {
    list-style-type: none;
    background-color: white;

  }

li a {
    display: inline;
    text-decoration: none;
    color: black;
    float: right ;
    margin: 10px 10px;
    padding: 10px 10px;
    border: solid black 2px;
    background-color: white;
    font-size: 16pt;
    font-family: 'Bree Serif';
   
}
li a:hover {
    background-color: white;
    color: grey;
    border: 2px solid white;
    box-shadow: 5px 5px 10px  #65696C;
}
.boxed3 {
 text-align: center;
 font-size: 32pt;
 background-color: white;
 border: solid black 2px;
 padding: 10px;
 width: 175x;
 float:center;
 font-family: 'Bree Serif';
  
}


body {
background-image: url(https://wallpapers.place/wp-content/uploads/Free-avengers-backgrounds-mobile-iphone.jpg);
  
  background-repeat: no-repeat;
  background-size: 1500px;
  
}

 .boxed2 {
   background-color: white;
   border: solid black 2px;
   padding: 50px;
   font-size: 20pt;
   width: 200px;
   margin-left: 4%;
   margin-right: 0%;
   font-family: 'Bree Serif';
   
  }

  .button {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: center;
   
    
}
  .button:hover {
    background-color: white;
    color: grey;
    box-shadow: 5px 5px 10px  #65696C;
}
    
.boxed4 {
     border: solid black 2px;
   padding: 50px;
   background-color: white;
   font-size: 20pt;
   width: 200px;
   margin-left: 4%; 
   float: center;
  font-family: 'Bree Serif';
  }
    
     .button1 {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: center;
}

.button1:hover {
    background-color: white;
    color: grey;
  box-shadow: 5px 5px 10px  #65696C;
    
}
	  </style>
  </head>
  
  <body>
  <div class="boxed1"
  <ul>
  <li><a href="aboutus">About Us</a></li>
  <li><a href="list">Movie List</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="/">Home</a></li>
  </ul>
  </div>
<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
<br>
<br>
<br>
<br>
<div class="boxed3"
 <> Super Selector
</div>
<br>
<br>
<br>
<br> 
<br>
  <div class="boxed2">
    Take our quiz to see which movie you should watch!
     <a href="quiz" class="button">Take the Quiz! </a> 
  </div>
<br>
  <div class="boxed4">
    Take a look at all the movies!
    
     <a href="list" class="button1">See the Movie List! </a>
    
</div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>




  </body>
</html>