<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>

 <ul> <!--navigation bar-->
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">Quiz</a></li>
  <li><a href="contact.asp">FAQ</a></li>
  <li><a href="about.asp">About Us</a></li>
</ul>

<body background ="https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80">
<!--welcome/title-->
    <h1>Bon Voyage!</h1>
    <p> WELCOME </p>
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  
<body>

<div class="background">
  <div class="transbox">
    <h2>MISSION </h2>
    <h3>Travelling in the 21st century can be more overwhelming and slow than it needs to be. With Bon Voyage! users are given the chance to take a quiz, virtually designing what their perfect vacation involves based on their preferences. After submitting, the result is a suggested destination that caters to their specific needs. We'll see you soon-Bon Voyage! </h3>
  </div>
</div>
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  
<body>

<div class="background">
  <div class="transbox">
    <h2>Travel Benefits: </h2>
    <p> -Vacationing only once per year can cut a person's risk of heart attack. </p>
    <p>  -91% of employers acknowledge the advantages of studying abroad</p>
     <p>  -One's adaptability, teamwork skills, communication, planning, and perspective is enhanced with travelling</p>
  </div>
</div>
  
</body>
</html>