<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body{
  background: #b29f94;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b29f94, #603813,#b29f94);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b29f94, #603813, #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}


h1{
  text-align: center;
  font-family: Impact;
  font-size: 100px;
}

h2{
  text-align: center;
  font-family: Impact;
  font-size: 65px;
}

h3{
  text-align: center;
  font-family:Quattrocento Sans;
  font-size: 40px;}
  
  a {
    color: white;
    font-size: 20px;
}


h4{
  text-align: center;
  font-family: Courier New;
  font-size: 10px;
}

h5{
  text-align: center;
  font-family: Courier New;
  font-size: 25px;
}

.quiz {
  text-align: center;
}

.refs li a:hover {
  color: #E1DAC4;}

p{
  font-size: 50px;
  font-family:Courier New; }
  </style>
  
</head>

<body>
  
  <ul class="refs">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/racism">Racism</a></li>
  <li><a href="/sexism">Sexism</a></li>
  <li><a href="/impact">Impact</a></li>
  <li><a href="/about">About</a></li>
</ul>

  
  <div class="container" style="text-align:center">
 <h1><b>A Better World</b></h1> 
<h2>Starts With You </h2>
 <h4><p class="quiz"><a href ="/biasquiz"> Take our "How Biased Are You?" Quiz  </a></p></h2> <br> <br> <br> <br>
 
 

<iframe src="https://giphy.com/embed/aww9zSWC1qGOY" width="405" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/gender-equality-aww9zSWC1qGOY"></a></p>
 
 <br><br><br><br><br>

<h3><i>What is racism?</i></h3>
<div class="container" style="text-align:center">
<a href="http://tinypic.com?ref=zk5ra1" target="_blank"><img src="http://i63.tinypic.com/zk5ra1.png" border="0" alt="racism definition"></a> <br> 
<br> <br> <br>
  
<h3><i>What is sexism?</i></h3>
<div class="container" style="text-align:center">
<a href="http://tinypic.com?ref=ok7ns4" target="_blank"><img src="http://i67.tinypic.com/ok7ns4.png" border="0" alt="sexism definition"></a> <br> <br> <br> <br> <br> <br>

<h5>Check out our #woke Spotify playlist!</h5>  <br>
  <iframe src="https://open.spotify.com/embed/user/shaileyg16/playlist/73SPF24WS2CgjfSPymOutK" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 
</body>
</html>