<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<style>
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500');
.navbar {
   overflow: hidden;
   background: linear-gradient(to bottom right, #FFC300, #FFC300);
   font-family: 'Archivo Narrow', sans-serif;
   height: 45px;
}

.navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.dropdown {
   float: left;
   overflow: hidden;
}

.dropdown .dropbtn {
   cursor: pointer;
   font-size: 16px;    
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   background-color: red;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {
   background-color: #ddd;
}

.show {
   display: block;
}

body{
 background: white;
 font-family: 'Archivo Narrow', sans-serif;
 color: white;
}

h1 {
 margin-left: 25px;
 font-size: 100px;
 text-align: center;
 color: #CD5C5C;
 font-family: 'Comfortaa', sans-serif;
}
 
.navbar {
   overflow: hidden;
   background-color: #08BFF5;
   font-family: 'Archivo Narrow', sans-serif;
}

.navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.dropdown {
   float: left;
   overflow: hidden;
}

.dropdown .dropbtn {
   cursor: pointer;
   font-size: 16px;    
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: 'Archivo Narrow', sans-serif;
   margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   background-color: red;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   float: none;
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {
   background-color: #ddd;
}

.show {
   display: block;
}

body{
 background:#D9D9D9;
}

body { 
    background-color: linear-gradient(to top right, #ACDC6E, #F08080);
    font-weight: normal;
    font-style: normal;
    color: #CD5C5C;
  margin: 0;
  padding: 0;
  border: 0; }
h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    color: #CD5C5C;
    background-color: #FFC300;
    text-align: center;
    
}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  color: #CD5C5C;
  text-align: center;
}
p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    line-height: 1.5em;
    color: #666; 
    margin: 30px 0;
}
.image {
    background: url('http://i68.tinypic.com/3306yib.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
}

.image2 {
  background: url('http://stafitnowaz.com/files/2018/01/bigstock-212328235.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
    width: 1800px;
}

.image3 {
  background: url('https://images.unsplash.com/photo-1499728603263-13726abce5fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd2ef161d15d6a9fafef1993e76bbe39&w=1000&q=80') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
    width: 1800px;
}

.image4 {
  background: url('https://i.pinimg.com/originals/7f/b9/00/7fb9003a5a4d028ffd48f384886a59f1.png') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 650px;
    width: 1800px;
}

.content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
    
}
a:link, a:visited {
        color: #666;
        text-decoration: underline; }
a:hover {
        color: #01c59f; }
</style>
</head>
<body>


<div class="navbar">
 <a href="/">SANE BRAIN</a>
  <a href="/about">About Us</a>
    <a href="/comedy">Comedy</a>
      <a href="/fitness">Fitness</a>
      <a href="/mindfulness">Mindfulness</a>
  <a href="/stressrelief">Stress Therapy</a>
   </div>
 </div>
 <h1>SANE BRAIN</h1>
</div>
  <h2><%= motivation%> </h2>
  
  
 
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
   document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
 if (!e.target.matches('.dropbtn')) {
   var myDropdown = document.getElementById("myDropdown");
     if (myDropdown.classList.contains('show')) {
       myDropdown.classList.remove('show');
     }
 }
}
</script>
<% ###this is the Kevin scrolling image %>
<div class="image"></div>
   <section class="content">
    <h3>Need a laugh? <a href="/comedy"></a><br>
    <p>We get it. After a long day, we could all use something that will bring a smile to our faces. Did you know that laughter lowers blood pressure, reduces stress hormone levels, and improves cardiac health?!? </p></h3></section>

    
<% ###This is fitness scrolling image %>
<div class="parallax-container valign-wrapper">
    <div class="image2">
        <div class="content">
        </div>
    </div>
    <div class="parallax"><img id="gym"  ></div>
    <h3>Who needs the gym?
    <p>Not everyone hits the treadmill after a rough day of work. Check out our fitness page instead!</p></h3>
</div>

<% ###This is the mindfulness scrolling image %>
<div class="mindfullness">
  <div class="image3">
    <div class="content"></div>
  </div>
  <h3>Deep breaths!
  <p>Sometimes, all it takes is one deep breath. Unwind and unclog your brain by learning how to become more mindful!</p></h3></div>

<% ###This is the stress therapy image %>
<div class="stress therapy">
  <div class="image4">
    <div class="content"></div></div>
    <h3>Rough Day?
    <p>We've all been there. Help ease away some of that toxic stress with some theraputic activities!</p></h3></div>
    
  </div>
</div>

</body>
</html>