<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link 
          href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Comfortaa');
      @import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500');
      
.navbar {
    overflow: hidden;
    background-color: #FFC300;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
     float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
   display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #ACCB80;
}

.show {
    display: block;
}

.label{
    overflow: hidden;
    max-width: 100%;
    height: auto;
    text-align: center;
}

h1 {
    font-family: wire one, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 20px;
}

.hometext{
    font-family: wire one, sans-serif;
    font-size:28px;
    line-height: 40px;
}

 body { 
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0; } 
    
footer {
    background-color: #333;
    padding: 1px;
    width: 100%;
    text-align: center;
    color: white;
}
      h2 {
 margin-left: 25px;
 font-size: 100px;
 text-align: center;
 color: #CD5C5C;
 font-family: 'Comfortaa', sans-serif;
}
      h1 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #CD5C5C;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}
p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    line-height: 1.5em;
    color: #666; 
    margin: 30px 0;
}
      h3 {    
 font-size: 50px;
        
 
 color: white;
        
 font-family: 'Comfortaa', sans-serif;
 background: #FFC300;
        
  text-align: center;
}

</style>
  </head>

  <body>
  
    <div class="navbar">
    <a href="/">SANE BRAIN</a>
  <a href="/about">About Us</a>
    <a href="/comedy">Comedy</a>
      <a href="/fitness">Fitness</a>
      <a href="/mindfulness">Mindfulness</a>
  <a href="/stressrelief">Stress Therapy</a>
    </div>
    <h2>Sane Brain</h2>
      <h3><%= motivation%> </h3> <br>
<h1>Need a laugh? </h1>
<center>
<table>
<tr>
<td><img src="http://i66.tinypic.com/2911hrn.png" border="0" width="70" alt="Image and video hosting by TinyPic"></td>
<td><img src="http://i68.tinypic.com/3306yib.jpg" border="" width="400" height="400" alt="Image and video hosting by TinyPic"></td>
<td>
  <img src="http://i66.tinypic.com/2911hrn.png" border="0" width="60" alt="Image and video hosting by TinyPic">
</td>
<td><div class="hometext"> <p>We get it. After a long day, we could all use something that will bring a smile to our faces. Did you know that laughter lowers blood pressure, reduces stress hormone levels, and improves cardiac health?!?</p><br><br><center><a href="/comedy" style="color:#FFC300">Click here to explore our comedy page</a></center></div></td>
</tr>
</table>
</center>
        <br><br><br><br>
<h1>Who Needs the Gym?</h1>
<center>
<table>
<tr>
<td><img src="http://i66.tinypic.com/2911hrn.png" border="0" width="70" alt="Image and video hosting by TinyPic"></td>
<td><img src="http://stafitnowaz.com/files/2018/01/bigstock-212328235.jpg" border="0" width="400" height="400" alt="Image and video hosting by TinyPic"></td>
<td>
  <img src="http://i66.tinypic.com/2911hrn.png" border="0" width="60" alt="Image and video hosting by TinyPic">
</td>
<td><div class="hometext"> <p>Not everyone hits the treadmill after a rough day of work. Check out our fitness page instead! </p><br><br><center><a href="/fitness" style="color:#FFC300">Click here to explore our fitness resources</a></center></div></td>
</tr>
</table>
</center> 
        <br><br><br><br>
    <h1>Deep breaths!</h1>
<center>
<table>
<tr>
<td><img src="http://i66.tinypic.com/2911hrn.png" border="0" width="70" alt="Image and video hosting by TinyPic"></td>
<td><img src="https://images.unsplash.com/photo-1499728603263-13726abce5fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd2ef161d15d6a9fafef1993e76bbe39&w=1000&q=80" border="0" width="400" height="400" alt="Image and video hosting by TinyPic"></td>
<td>
  <img src="http://i66.tinypic.com/2911hrn.png" border="0" width="60" alt="Image and video hosting by TinyPic">
</td>
<td><div class="hometext"> <p>Sometimes, all it takes is one deep breath. Unwind and unclog your brain by learning how to become more mindful!</p> <br><br><center><a href="/mindfulness" style="color:#FFC300">Click here to explore our mindfulness resources</a></center></div></td>
</tr>
</table>
</center>
<br><br><br><br>
<h1>Rough Day?</h1>
<center>
<table>
<tr>
<td><img src="http://i66.tinypic.com/2911hrn.png" border="0" width="70" alt="Image and video hosting by TinyPic"></td>
<td><img src="http://i63.tinypic.com/2jdqnte.jpg" border="0" width="400" height="400" alt="Image and video hosting by TinyPic">
<td>
  <img src="http://i66.tinypic.com/2911hrn.png" border="0" width="60" alt="Image and video hosting by TinyPic">
</td>
<td><div class="hometext"> <p> We've all been there. Help ease away some of that toxic stress with some theraputic activities!</p> <br><br><center><a href="/stressrelief" style="color:#FFC300">Click here to explore our stress relief resources</a></center></div></td>
</tr>
</table>
</center>
<br><br><br>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
  </body>
</html>