<!DOCTYPE html>
<html>
  <head>
    <title>test page</title>
  </head>
  <body>
    
    <h1>SHEinspired</h1>
    <h2> How are you feeling? </h2>
    
    <form method=POST>
      <input type="radio" name="emotion" value="sad">Sad
      <input type="radio" name="emotion" value="stressed">Stressed
      <input type="radio" name="emotion" value="unmotivated">Unmotivated
      <input type="submit" value="Inspiration">
    </form>
  </body>
</html>