<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quiz</title>
  </head>

  <body>
    <h1>Take this quiz to find a superhero movie to fit your needs</h1>
   <!-- Insert Your Form Below -->
    <form method = POST>
        <p>Marvel movie or DC movie?</p>
      <input type= "radio" name = "questionone" value = "Marvel">Marvel
      <input type= "radio" name = "questionone" value = "DC">DC
      
      <p>Older movie or a newer movie?</p>
      <input type= "radio" name = "questiontwo" value = "Old">Old (2008-2014)
      <input type= "radio" name = "questiontwo" value = "New">New (2015-2018)
      
      <p>Team movie or a solo movie?</p>
      <input type= "radio" name = "questionthree" value = "Team">Team
      <input type= "radio" name = "questionthree" value = "Solo">Solo
      
      <p>Serious movie or a comical movie?</p>
      <input type= "radio" name = "questionfour" value = "Serious">Serious
      <input type= "radio" name = "questionfour" value = "Comical">Comical
      
      <input type= "submit" value= "Find the movies for you">
  </body>
</html>







