<!DOCTYPE html>
<html>
 <head>
  <div class="boxed1"
    <ul>
  <li><a href="aboutus">About Us</a></li>
  <li><a href="list">Movie List</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="/">Home</a></li>
  </ul>
  </div> 
   <h1> Movie List</h1>
   
   <meta charset="UTF-8">
   <title>Movie list</title>
	 <style>
		 body {
background-image: url("http://wall2born.com/data/out/815/image-43706442-the-flash-4k-wallpaper.jpg");
  background-size: 1500px;
}
/*dropbtn {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    padding: 16px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*}*/
/* The container <div> - needed to position the dropdown content */
/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/
/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f1f1f1;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/
/* Links inside the dropdown */
/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/
/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd;}*/
/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {display: block;}*/
/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.boxed1 {
    list-style-type: none;
    background-color: white;
  }

li a {
    display: inline;
    text-decoration: none;
    color: black;
    float: right ;
    margin: 10px 10px;
    padding: 10px 10px;
    border: solid black 2px;
    background-color: white;
    font-size: 16pt;
    font-family: 'Bree Serif'
   
}
li a:hover {
    background-color: white;
    color: grey;
    border: 2px solid white;
    box-shadow: 5px 5px 10px  #65696C;
}  
h1 { 
font-family: Bree Serif;
color: white;
}
p {
  font-family: Bree Serif;
  font-size: 16pt;
}
.quiz {
  font-family: Bree Serif; 
  background-color: white;
  padding: 10px 20px;
  margin: 20px;
  width: 500px;
  border: 5px solid red;
}
input[type=radio] {
    margin: 10px 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Bree Serif;
    font-size: 12pt;
}
input[type=radio]:hover {
  box-shadow: 5px 5px 10px  #65696C;
}


input[type=submit] {
 background-color: #2471A3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 1.5%;
    cursor: pointer;
    font-family: Bree Serif;
    font-size: 12pt;
}

input[type=submit]:hover {
  box-shadow: 5px 5px 10px  #65696C;
  color: #2471A3;
  background-color: white;
  
}
	 </style>
 </head>

 <body>

   </h1>
  <!-- Insert Your Form Below -->
  
<h3>Marvel Movies</h3>
<br>
Iron Man (2008)
<br> 
The Incredible Hulk (2008)
<br>
Iron Man 2 (2010)
<br>
Thor (2011)
<br>
Captain America: The First Avenger (2012)
<br>
The Avengers (2012)
<br>
Iron Man 3 (2013)
<br>
Thor: The Dark World (2013)
<br>
Captain America: The Winter Soldier (2014)
<br>
Guardians of the Galaxy (2014)
<br>
Avengers: Age of Ultron (2015)
<br>
Ant-Man (2015)
<br>
Captain America: Civil War (2016)
<br>
Doctor Strange (2016)
<br>
Guardians of the Galaxy Vol. 2 (2017)
<br>
Spider-Man: Homecoming 
<br>
Thor: Ragnarok (2017)
<br>
Black Panther (2018)
<br>
Avengers: Infinity War (2018)
<br>
Ant-Man and the Wasp (July 2018)
<br>
Captain Marvel (2019)
<br>
<br>
<br>
<h3>DC Movies</h3>
<br>
The Dark Knight (2008)
<br>
Green Lantern (2011)
<br>
The Dark Knight Rises 
<br>
Man Of Steel (2013)
<br>
Batman v Superman: Dawn of Justice (2016)
<br>
Suicide Squad (2016)
<br>
Wonder Woman (2017)   
<br>
Justice League (2017)
<br>
Aquaman (2018)                                                  
<br>
Shazam (2019) 
<br>
Wonder Woman- 1984 (2019)
<br>
<br>
 </body>
 </html>