<!DOCTYPE html>
<html>
  <head>
    <title>mental</title>
        <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
    <style>
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: wire one, sans-serif;
}

.navbar a {
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ACCB80;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ACCB80;
}

.show {
    display: block;
}

.label{
    overflow: hidden;
    max-width: 100%;
    height: auto;
    text-align: center;
}

h1 {
    font-family: wire one, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 20px;
}

.hometext{
    font-family: wire one, sans-serif;
    font-size:28px;
    line-height: 40px;
}

 body { 
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0; } 
    
footer {
    background-color: #333;
    padding: 1px;
    width: 100%;
    text-align: center;
    color: white;
}

 body { 
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0; } 
h3 {
    font-family: wire one, sans-serif;
    font-size: 40px;
    color: #BE95DA;
}
p {
    font-family: sans-serif, Times;
    font-size: 1.3em;
    line-height: 1.5em;
    color: black, #ACCB80; 
    margin: 30px 0;
}
g {
    font-family: wire one, sans-serif;
    font-size: 2.0em;
    line-height: 1.5em;
    color: black, #ACCB80; 
    margin: 30px 0;
}
.image {
    background: url(http://i67.tinypic.com/mowph.jpg) no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
}
   <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
    <style>

.show {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

fontsize {
  font-size: 40px;
  font-family: Times;
}

namesize {
  font-size: 26px;
  color: #BE95DA;
}

</style>
  </head>
  
  <body>
    
<div class = "label"><img src="http://i63.tinypic.com/255tgk2.png" border="0" width=100% height=25% alt="Image and video hosting by TinyPic"></div>
    <div class="navbar">
  <a href="/">Home</a>
  <a href="/fitness">Fitness</a>
  <a href="/food">Food</a>
  <a href="/mental">Mindfulness</a>
  <a href="aboutus">About the Creators</a> </div>
  <br>
  <center><img src="http://i68.tinypic.com/35kldzo.png" border="0" width="600" alt="Image and video hosting by TinyPic"></center><br><br>
  <div class= center>
  <span style="font-size:100px;line-height:0.6em;opacity:0.2">&#10077;</span>
  <p class="quote_font_size" style="margin-top:-40px"><br>
  <fontsize>
    <i>”If you believe in yourself and feel confident in yourself, you can do anything.”</i></p></fontsize>
 <namesize>
  <p>Karlie Kloss</p>
  </namesize>
</div>

  <div class="image"></div>
   <section class="content">
    <h3><b>Mental health</b></h3>
    <p><center><table>
      <tr><td><p>Dangerous Exercising</p></td><td><p>Dangerous Eating</p></td></tr>
      <tr><td><g>Exercising too much does exist. Make sure you know how much you can exercise each day for your weight, height, age, and diet. Never push yourself for the sake of trying to lose weight fast or burn off calories. Don't get caught up with people in the gym who are exercising more than you. Everyone is on a different level. Focus on your own goals and gains </g></td><td><g>with social media, sometimes dieting can go to far to the point where people are starving themselves to look a certain way. Remember to diet responsibly and consult a doctor or dietition first. Unhealthy dieting includes bing eating, irresponsible fasting, and eating too little or too much <br> eating disorder hotline: (877) 902-3920</g></td></tr></table><br><br><center><h3><b>Self Love and Acceptance Resources</b></h3></center><table>
      <tr><td><a href="https://www.instagram.com/hi.ur.beautiful/?hl=en" target="_blank"><img src="http://i68.tinypic.com/2a76bs6.png"  border="0" width="100%" alt="Image and video hosting by TinyPic"></a></td><td><a href="https://www.instagram.com/selflovemantras/?hl=en" target="_blank"><img src="http://i68.tinypic.com/15g8mdf.png" border="0" width="100%" alt="Image and video hosting by TinyPic"></a></td><td><a href="https://www.instagram.com/aftermyownbelly/?hl=en" target="_blank"><img src="http://i65.tinypic.com/63ygl2.png" border="0" width="100%" alt="Image and video hosting by TinyPic"></a></td></tr>
    </table></center></p> <br><br><br>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/j2iBZZC72Kc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
  <br><br><br><br>
  </section>
><br><br><br>
 <footer>
    <p>© 2018 Kode With Klossy</p>
  <footemail><center><table><tr>
    <td width="40%">19lworkosky@student.dasd.org</td>
    <td width="40%">madison@parkerworld.com</td>
    <td>sdandu99@gmail.com</td>
  </tr><tr><td width="40%">@workosky</td><td width="40%">@madisonparke.r</td><td>@siri_dandu</td></tr></table></center></footemail>
</footer>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
  </body>
</html>