<!DOCTYPE html>
<html> 
<head>
  <title> Peace of Mind </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  Mental Health: Take a deep breath and relax. A calm and clear mind will make you content.
  If you are in trouble, <u><b>please</b></u> use these resources: 
  <ol>
    <li>Call 1.800.784.2433, the National Hopeline Network</li>
    <li><a href="https://suicidepreventionlifeline.org/">Call 1.800.273.8255, the National Suicide Prevention Lifeline.</a></li>
    <li><a href="https://www.suicidology.org/">Visit the American Association of Suicidology (AAS) online.</a></li>
    <li><a href="https://www.samhsa.gov/find-help/national-helpline">Call 1.877.726.4727, the SAMHSA Treatment Referral Helpline</a></li>
    <li><a href="https://www.nami.org/Find-Support/NAMI-HelpLine">Call 1-800-950-NAMI (6264) or email info@nami.org, the National Alliance on Mental Illness</a></li>
  </ol>
  <br>
  
 
  
</body> 
</html> 