<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>
  </head>

 <ul> <!--navigation bar-->
  <li><a href="http://67.205.188.72:47220/home">Home</a></li>
  <li><a href="http://67.205.188.72:47220/quiz">Quiz</a></li>
  <li><a href="http://67.205.188.72:47220/FAQ">FAQ</a></li>
  <li><a href="http://67.205.188.72:47220/about_us">About Us</a></li>
</ul>

<body background ="https://images.unsplash.com/photo-1479232284091-c8829ec114ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05a92b002f109a802854dc39ff03efcd&auto=format&fit=crop&w=1051&q=80">
<!--welcome/title-->
    <h1>Quiz</h1>
    <p> Find Your Perfect Vacation in One Simple Quiz!</p>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Kirang+Haerang|Open+Sans+Condensed:300|Poppins" rel="stylesheet">
  </head>
  <body>
    <h2>Your dream destination awaits!</h2>
    <form method=POST>
      <p>Please pick your travel priorities.</p>   
      <!--radio buttons-->
   <label class="container"><input type="checkbox" checked="checked" name="question1" value="doorone">Warm <span class="checkmark"></span></label>
       <label class="container"><input type="checkbox" name="question1" value="doortwo">Cool <span class="checkmark"></span></label>
       <label class="container"><input type="checkbox" name="question1" value="doorthree">Inexpensive <span class="checkmark"></span></label>
       <label class="container"><input type="checkbox" name="question1" value="doorthree">Tropical <span class="checkmark"></span></label>
       <label class="container"><input type="checkbox" name="question1" value="doorthree">Better with Friends<span class="checkmark"></span></label>
       <label class="container"><input type="checkbox" name="question1" value="doorthree">Me, Myself and I <span class="checkmark"></span></label>
       <label class="container"><input type="checkbox" name="question1" value="doorthree">Low Crime Rates <span class="checkmark"></span></label>
      <input type="submit" class="button" value="RESULTS!">
      </form>
  </body>
</html>
