<html>
  <head>
    <link rel="stylesheet" href="stylesheets/quiz.css">
    <meta charset="UTF-8">
    <title>Find Your Perfect Vacation!</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Kirang+Haerang|Open+Sans+Condensed:300|Poppins" rel="stylesheet">
  </head>
  <body>
    <ul> <!--navigation bar-->
  <li><a href="/">Home</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="FAQ">FAQ</a></li>
  <li><a href="about_us">About Us</a></li>
  </ul>
    <h2>Your dream destination awaits!</h2>
    <form method=POST>
      <p>Please pick your travel priorities.</p>   
      <!--radio buttons-->
   <label class="container"><input type="checkbox" name="question1" value="d1">Warm <span class="checkmark"></span></label>
    <label class="container"><input type="checkbox" name="question1" value="d2">Cool <span class="checkmark"></span></label>
    <label class="container"><input type="checkbox" name="question1" value="d3">Inexpensive <span class="checkmark"></span></label>
    <label class="container"><input type="checkbox" name="question1" value="d4">Tropical <span class="checkmark"></span></label>
    <label class="container"><input type="checkbox" name="question1" value="d5">Better with Friends<span class="checkmark"></span></label>
    <label class="container"><input type="checkbox" name="question1" value="d6">Me, Myself and I <span class="checkmark"></span></label>
    <label class="container"><input type="checkbox" name="question1" value="d7">Low Crime Rates <span class="checkmark"></span></label>
    <input type="submit" class="button" value="RESULTS!">
    </form>
  </body>
</html>