<html>
  <head><link rel="stylesheet" href="results.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Kirang+Haerang|Open+Sans+Condensed:300|Poppins" rel="stylesheet">
    <title>results</title>
  </head>
  <body>
  <h1>Your travel destinations are:</h1>
    <div class="background">
  <div class="transbox">
    <p><%@myresults%></p>
  </div>
</div>
  </body>
</html>