<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results</title>
    <h1>You should watch...</h1>
  </head>
  <body>
    
    <%marvordc(params[:questionone])
  oldornew(params[:questiontwo])
  teamorsolo(params[:questionthree])
  mood(params[:questionfour])
  @the_real_result = results%>
  </body>
</html>