<!DOCTYPE html>
<html>
 <head>
   <title>results</title>
 </head>
 <body>
 <h1> Sorry to hear you're feeling like that. Hopefully we can help!</h1>
 <!--this is where you call the quotes to come out bc in controllers you call this page and this will run w the variables of emotion-->
 <img src = "<%=@quote1%>">
 <img src = "<%=@quote2%>">
 
 </body>
</html>