<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results</title>
     <div class="boxed1"
  <ul>
  <li><a href="aboutus">About Us</a></li>
  <li><a href="list">Movie List</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="/">Home</a></li>
  </ul>
  </div>
    <h1>You should watch...</h1>
  </head>
  <style>
   body { background-color: black
   }
   		  .boxed1 {
    list-style-type: none;
    background-color: white;

  }

li a {
    display: inline;
    text-decoration: none;
    color: black;
    float: right ;
    margin: 10px 10px;
    padding: 10px 10px;
    border: solid black 2px;
    background-color: white;
    font-size: 16pt;
    font-family: 'Bree Serif'
   
}
li a:hover {
    background-color: white;
    color: grey;
    border: 2px solid white;
    box-shadow: 5px 5px 10px  #65696C;
}
  </style>
  <body>
    
    <%=
  @the_real_result%>
  </body>
</html>