<!DOCTYPE html>
<html> 
<head>
  <title>South Asian</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-aYr5pAyWvLPBIU0n8HmzJZkPnqxFK7dugPcwHbS9-w12ePeKBA');
    min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="/#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">RACE STEREOTYPE <i class="fa fa-street-view"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/east_asian" class="w3-bar-item w3-button">East Asian</a>
        <a href="/south_asian" class="w3-bar-item w3-button">South Asian</a>
        <a href="/african" class="w3-bar-item w3-button">African</a>
      </div>
    </div>
    <a href="/fitin" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-star-half-o"></i> FITTING IN</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
    <a href="/quiz" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-question"></i> QUIZ</a>
    <a href="/how_do_you_feel" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-paper-plane-o"></i> YOUR FEELINGS?</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SOUTH <span class="w3-hide-small">ASIA</span></span>
  </div>
</div>

<!-- Container (South Asian) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">South Asians</font></h3>
  <p class="w3-center"></p>
  <p><br>
       <font size="+1">South Asians are considered to excel in academics especially math and computers. They are considered to be the nerds and socially inactive in school. The South Asians are usually expected to grow up and become doctors, lawyers, or computer engineers. These people are also thought to have large joint families and to have an arranged marriage. It assumed that their diet consists of mainly naan, rice, and extremely spicy curries. Finally, South Asians are called “cheap” and to bargain a lot.  </font>
</div>

<!-- Container (Hindi) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">Hindi Translation</font></h3>
  <p class="w3-center"></p>
  <p><br>
       <font size="+1">पूर्वी एशियाई पतली, गणितीय रूप से इंटेलिजेंट, संगीत रूप से प्रतिभाशाली के रूप में देखा जाता है; विशेष रूप से वायलिन और पियानो, और एक दूसरे के लिए गलत हैं। वे कराटे और टीकवोंडो में अच्छे हैं। पूर्वी एशियाई बच्चे बहुत ही कमजोर और परिवार और दोस्तों के चारों ओर विनम्र हैं। स्कूल में वे वर्ग में नरक या प्रतिभा के रूप में रूढ़िवादी हैं और अगर गुच्छा और "लोकप्रिय बच्चों" नहीं हैं तो काफी बाहर हैं। उनके माता-पिता की वजह से उनके पास बहुत ही पारंपरिक जीवन शैली है और उन्हें एक उज्ज्वल भविष्य होने की उम्मीद है, जैसे डॉक्टर, वकील, लेखांकन, या बहुत पैसा बनाना।  </font>
</div>

<!-- Container (Telugu) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">Telugu Translation</font></h3>
  <p class="w3-center"></p>
  <p><br>
       <font size="+1">తూర్పు ఆసియన్లు సన్నగా, మఠాత్మకంగా తెలివిగా, సంగీతపరంగా నైపుణ్యంతో కనిపిస్తారు; ప్రత్యేకంగా వయోలిన్ మరియు పియానో, మరియు మరొకటి పొరపాటు. వారు కరాటే మరియు టేకువాండోలలో మంచివారు. తూర్పు ఆసియా పిల్లలు చాలా మిత్రులతో ఉన్నారు మరియు కుటుంబం మరియు స్నేహితుల చుట్టూ మర్యాదగా ఉన్నారు. పాఠశాలలో వారు మేనర్లు లేదా తరగతిలోని మేధావి వలె స్టీరియోటైప్ చేయబడ్డారు మరియు బంచ్ మరియు "జనాదరణ పొందిన పిల్లలు" కానట్లయితే వారు చాలామంది ఉన్నారు. వారి తల్లిదండ్రుల కారణంగా వారు చాలా సాంప్రదాయిక జీవన శైలిని కలిగి ఉంటారు మరియు ఒక వైద్యుడు, న్యాయవాదులు, అకౌంటింగ్ లేదా చాలా డబ్బు సంపాదించడం వంటి ప్రకాశవంతమైన భవిష్యత్తును కలిగి ఉంటారని భావిస్తున్నారు.  </font>
</div>

<!-- Container (Tamil) -->
<div class="w3-content w3-container w3-padding-64" id="aboutus">
  <h3 class="w3-center"> <font size="+3">Tamil Translation</font></h3>
  <p class="w3-center"></p>
  <p><br>
       <font size="+1">கிழக்கு ஆசியர்கள் மெல்லிய, மத்னமளவில் அறிவாற்றலுடன், இசைக்கலைஞர்களாகக் கருதப்படுகிறார்கள்; குறிப்பாக வயலின் மற்றும் பியானோ, மற்றும் ஒருவருக்கொருவர் தவறாக. அவர்கள் கராத்தே மற்றும் தேக்வான்டோவில் நல்லவர்கள். கிழக்கு ஆசிய குழந்தைகள் குடும்பம் மற்றும் நண்பர்களை சுற்றி மிகவும் obidient மற்றும் கண்ணியமாக இருக்கும். பள்ளியில் அவர்கள் மேதாவிகளாக அல்லது வகுப்பில் மேதைகளாக ஒரே மாதிரியாக இருக்கிறார்கள் மற்றும் கொத்துகள் மற்றும் "பிரபலமான குழந்தைகள்" ஆகியோரால் அல்ல. அவர்கள் பெற்றோரின் காரணமாக ஒரு பாரம்பரிய வாழ்க்கை முறையைப் பெற்றிருக்கிறார்கள், மேலும் ஒரு மருத்துவர், வழக்கறிஞர்கள், கணக்கியல் அல்லது நிறைய பணம் சம்பாதிப்பது போன்ற பிரகாசமான எதிர்காலம் எதிர்பார்க்கப்படுகிறது.న్నారు.  </font>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 
</script>

</body>
</div>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 10086868;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/10086868/">Chat with us</a>,
powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener" target="_blank">LiveChat</a>
</noscript>
<!-- End of LiveChat code -->
</html>