<!DOCTYPE html>
<html>
 <head>
   <title>SHEinspires</title>
 </head>
 <body> 
   <img src="https://mail.google.com/mail/u/0?ui=2&ik=8fa14b6d39&attid=0.1.1&permmsgid=msg-f:1607614442324658823&th=164f64d15a8c8a87&view=fimg&sz=w1600-h1000&attbid=ANGjdJ-7ssMe4b_o5U0DCPSEhnyQs-UDcktU7W9GTyYf_1U_hz3BQLOcYnxbQfmPQtZ4zAu2WamOMltPJ3V02TFgxq1eAa3a7SIZ48bkC9Gfy_kdNHoOVrynirVfL1E&disp=emb" alt="Italian Trulli">
   <a href= /index> Home</a>
    &nbsp;
    <a href= /aboutus> More About Us</a>

<h1>We're sorry to hear you're feeling stressed. We hope we can help!</h1>
<h2>Down below you'll find a Spotify playlist, quotes, and videos to help you feel happy!</h2>

<h3>Playlist</h3>
  <a href = "https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX1s9knjP51Oa?si=vrHqaTyWRrqeIzaixxMkZQ"> Spotify Playlist
<h3>Quotes</h3>




 </body>
</html>